<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>StackOverflow Lite</title>
   <link rel="icon" type="image/png" href="../static/images/stack-logo-2.png">
   <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
   <header class="main-header">
      <div class="logo">
         <img src="../static/images/stack-logo-2.png" alt="" />
         <span class="extend-logo">Lite</span>
      </div>
      <nav class="main-nav">
         <ul class="nav-list">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">FAQS</a></li>
            <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="signup.html" class="nav-link">Sign Up</a></li>
         </ul>
      </nav>
   </header>

   <h2 class="welcome b4-forms">Your contribution is highly appreciated</h2>

   <section class="quiz-nav">
      <div class="quiz-nav-items active"><a href="index.html" class="quiz-nav-links">Recent</a></div>
      <div class="quiz-nav-items"><a href="popular.html" class="quiz-nav-links">Popular</a></div>
      <div class="quiz-nav-items"><a href="unsolved.html" class="quiz-nav-links">Unsolved</a></div>
      <div class="quiz-nav-items"><a href="askQuiz.html" class="quiz-nav-links">Ask</a></div>
   </section>

   <section class="question-dialog quiz-dlog-ans">
      <div class="question-box">
         <div class="user-time">
            <p class="user-title">
               <span class="user-name">User001</span> |
               <span class="time-asked">14/12/2018, 2 minutes ago</span>
            </p>
         </div>
         <div class="actual-quiz">
            <h3 class="quiz-title">
               Git refuses to push and raises the error below. Please help?
            </h3>
            <p class="quiz-par">
               error: failed to push some refs to
               'git@github.com:kburudi/stack-overflow-lite.git' <br />
               hint: Updates were rejected because a pushed branch tip is behind
               its remote <br />
               hint: counterpart. Check out this branch and integrate the remote
               changes <br />
               hint: (e.g. 'git pull ...') before pushing again. <br />
               hint: See the 'Note about fast-forwards' in 'git push --help' for
               details.
            </p>
         </div>
         <div class="categories-recent">
            <button class="cat-select-quiz">Programming</button>
            <button class="cat-select-quiz">Github</button>

         </div>
      </div>

      <div class="your-answer">
         <h3 class="your-answer-title">Your Answer</h3>
         <form action="answers.html" class="your-answer-fields">
            <textarea required class="your-answer-box" placeholder="Your Answer Goes in here...."></textarea> <br>
            <input type="submit" class="submit-answer" value="Submit Answer" role="button"></form>
      </div>

      <div class="answer-quiz">
         <button class="answer-quiz-button more">2 more Answer(s)</button>
         <button class="answer-quiz-button more">similar questions</button>
      </div>

   </section>

</body>

</html>