<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>StackOverflow Lite</title>
   <link rel="icon" type="image/png" href="../static/images/stack-logo-2.png" />
   <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
   <header class="main-header">
      <div class="logo">
         <img src="../static/images/stack-logo-2.png" alt="" />
         <span class="extend-logo">Lite</span>
      </div>
      <nav class="main-nav">
         <ul class="nav-list">
            <li class="nav-item">
               <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a href="" class="nav-link">FAQS</a></li>
            <li class="nav-item">
               <a href="login.html" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
               <a href="signup.html" class="nav-link">Sign Up</a>
            </li>
         </ul>
      </nav>
   </header>

   <h2 class="welcome b4-forms ask">Ask a question</h2>

   <section class="quiz-nav">
      <div class="quiz-nav-items"><a href="index.html" class="quiz-nav-links">Recent</a></div>
      <div class="quiz-nav-items"><a href="popular.html" class="quiz-nav-links">Popular</a></div>
      <div class="quiz-nav-items"><a href="unsolved.html" class="quiz-nav-links">Unsolved</a></div>
      <div class="quiz-nav-items active"><a href="askQuiz.html" class="quiz-nav-links">Ask</a></div>
   </section>

   <section class="ask-area">
      <div class="quiz-ask-aside">
         <button class="cat-title">Category</button>
         <form class="add-cats">
            <input type="text" class="cat-names-for-quiz" placeholder="Category 1" required>
            <input type="text" class="cat-names-for-quiz" placeholder="Category 2">
            <input type="text" class="cat-names-for-quiz" placeholder="Category 3">
            <input type="text" class="cat-names-for-quiz" placeholder="Category 4">
            <input type="submit" role="button" class="cat-submit" value="Add Category(s)">
         </form>
      </div>
      <div class="quiz-ask-box">
         <form action="" class="actual-quiz-form">
            <label for="quiz-title" class="title-quiz-title-field">Title: </label>
            <input type="text" class="quiz-title-field" placeholder="Question Title" name="quiz-title"> <br>
            <textarea name="quiz-desc" class="quiz-description-field" placeholder="Question Description...." rows="7"></textarea>
            <br>
            <input role="button" type="submit" class="ask-quiz-btn" value="Ask Question">
         </form>
      </div>
   </section>

</body>

</html>