<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>StackOverflow Lite</title>
   <link rel="icon" type="image/png" href="../static/images/stack-logo-2.png">
   <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
   <header class="main-header">
      <div class="logo">
         <img src="../static/images/stack-logo-2.png" alt="" />
         <span class="extend-logo">Lite</span>
      </div>
      <nav class="main-nav">
         <ul class="nav-list">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">FAQS</a></li>
            <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="signup.html" class="nav-link">Sign Up</a></li>
         </ul>
      </nav>
   </header>

   <h2 class="welcome b4-forms">Join the stack-overflow lite community</h2>

   <section class="user-form-container">
      <form action="index.html" class="user-form">
         <input type="email" name="email" placeholder="Enter your email" class="user-text-input"> <br>
         <input type="text" name="username" placeholder="Add a username" class="user-text-input"> <br>
         <label for="gender">Gender: </label>
         <input type="radio" name="gender" class="radio-input"> <span class="radio-name">Male</span>
         <input type="radio" name="gender" class="radio-input"> <span class="radio-name">Female</span> <br>
         <input type="password" name="password" placeholder="Enter a valid password" class="user-text-input"> <br>
         <input type="password" name="conf-password" placeholder="Confirm your password" class="user-text-input"> <br>
         <input type="submit" role="button" value="Create Account" class="user-submit-button">
      </form>
      <div class="alternative-text">
         <p> Already have an account? <a href="login.html" class="alternative-link">login</a> </p>
      </div>
   </section>

</body>

</html>